@font-face {
  font-family: "MyLotteBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.0/MyLotteBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  overflow: hidden !important;

  width: 100%;
  height: auto;

  padding-left: 4rem;
  background: black;

  margin: 0;

  font-family: "MyLotteBold";
}

.container {
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  opacity: 1;

  background: #bababa;

  border-right: 1px solid #a2a2a2;
  width: 4rem;
  height: 100vh;
}

.nav-title {
  display: flex;
  justify-content: center;

  margin-bottom: 3rem;
  padding: 0.5rem;

  font-size: 1.5rem;
  font-weight: 600;
  color: blueviolet;
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 100px;
}

.nav-links li {
  writing-mode: rl;
  transform: rotate(-90deg);

  font-size: 1.2rem;
  font-weight: 500;

  margin-bottom: 1.78rem;
}

/* li 속성 */
.nav-link-item {
  padding-right: 2rem;
  font-size: 30px;
  text-decoration: none;
  font-weight: 700;
}
.nav-link-item a {
  text-decoration: none;
  color: black;
}
